* {
    box-sizing: border-box;
}

html{
    background-image: url("background.svg");
    background-attachment: fixed;
    background-size: cover;
}

body{
    height: 100%;padding: 0;margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 1.5px;
    color: rgb(204,200,255,0.8);
}

h1, h2, h3{
    margin: 0;
}

h2{
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 4.5px;
    color: #ef008e;
}

h3{
    color: #ccc8ff;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 350;
    letter-spacing: 1.6px;
    border: rgb(204,200,255,0.1);
    border-radius: 5px;
    background-color:  rgb(204,200,255,0.1);
    color: rgb(204,200,255,0.8);
    width: 125px;
    height: 30px; 
}

.form__input{
    background-color:  rgb(204,200,255,0.1);
    color: rgb(204,200,255,0.8);
    border: rgb(204,200,255,0.8);
    border-radius: 5px;
    height:30px;
}

.page-navigation{
    font-weight: 350;
    color: rgb(239,0,142,0.8);
}

.page-header {
    position: fixed;
    left: 50px;
    top: 50px;
    
}

.page-footer {
    position: fixed;
    left: 50px;
    bottom: 50px;
    
}

.page-content{
    margin-left: 220px;
    padding: 0;
    text-align: right;
    
}

.content-section{
    min-height: 100vh;
}

.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.band-members{
    display: flex;
    position: relative;
    top: 200px;
    left: 200px;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    text-align: left;
}

.band-members__desc{
    top: 10px;
}

.band-members__item{
    align-self: center;
}

.concerts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width:1900px;
}

.concerts__image{
    width: 900px;
    padding: 4px;
    height: auto;
}

.content-section__header{
    position: relative;
    left: 200px;
}

.video__vid{
    position: relative;
    left: 200px;
    padding: 20px;
}

.gallery{
    width: 1000px;
    position: relative;
    left:500px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.gallery__image{
    width: 320px;
    padding: 10px;
    height: auto;
    border-top: 3px, solid, hotpink;
}

.about{
    position: absolute;

}

.about-section__desc{
    text-align: left;
    background-color: #25072C;
    color:  rgb(204,200,255,0.5);
    position: relative;
    width: 380px;
    height: 380px;
    padding: 40px;
    bottom: 280px;
    left: 160px;
    border-bottom: 20px, solid, #ef008e;
}

.concerts__image{
    width: 350px;
    height: auto;
}

.contact-section__image{
    position: relative;
    right: 300px;
    top: 50px;
}

address{
    position: relative;
    left: 1080px;
    bottom: 130px;
    text-align: left;
}

.form__field{
    text-align: left;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.form{
    position: relative;
    left: 525px;
    top: 50px;
}

.form__button{
    position: relative;
    padding: 10px;
    right: 1155px;
}
